:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
}
body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
}

.content-box {
  width: 50%;
  padding: 20px;
  margin: 10px;
  background-color: #b8ccb4;
  border: 1px solid #0e60db;
}
table {
      width: 50%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #2ecf5e;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #79dd4a;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      width: 10%;
      padding: 5px;
      border: 2px solid #3eb92e;
      border-radius: 10px;
    }
    
    input[type="submit"] {
      width: 5%;
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }

